<div class='container'>
  <% if @user %>
    <%= "Welcome to golf tracker #{@user.name}" %>
  <% end %>

  <% if flash[:holes] %>
  <%= flash[:holes] %>
  <% end %>
</div>



<% if @winners %>
<h2><%= "Results of #{@winners[:winning_round_stroke][0][0].course} on
        #{@winners[:winning_round_stroke][0][0].date.strftime("%d/%m/%Y")}" %></h2>
  <h2>Competitors:
    <% @players.each do |player| %>
      <%= player %>
    <% end %>
  </h2>
  <h3>Stroke Play Winner:
    <% @winners[:winning_user_stroke].each do |player| %>
      <%= player %>
    <% end %>
    <%= " with score of #{@winners[:winning_round_stroke][0][0].score}"%>
  </h3>
  <h3>Stableford Winner:
    <% @winners[:winning_user_stableford].each do |player| %>
      <%= player %>
    <% end %>
    <%= " with score of #{@winners[:winning_round_stableford][0][0].stableford}"%>
  </h3>
  <h3>C3PO Loser:
    <% @winners[:winning_user_three_putt].each do |player| %>
      <%= player %>
    <% end %>
    <%= " with #{@winners[:three_putt_total]} three putts"%>
  </h3>
<% end %>
