<div class='container'>
  <% if @user %>
  <h3 class="text-center"><%= flash[:welcome] %></h3>
  <% end %>

  <% if flash[:holes] %>
  <%= flash[:holes] %>
  <% end %>
</div>

<% if @user %>
  <div class="container">

      <% if @winners %>

    <div class='jumbotron'>
      <h3 class="text-center"><%= "Results of #{@winners[:winning_round_stroke][0][0].course} on
              #{@winners[:winning_round_stroke][0][0].date.strftime("%d/%m/%Y")}" %></h3>
    </div>
      <div class='container'>
        <h3 class='text-center'>Competitors:</h3>
        <h3 class='text-center'>
          <% @players.each do |player| %>
            *** <%= player %>
          <% end %>***
        </h3>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3 class='text-center'>Stroke Play Winner:</h3>
            <h4 class='text-center'> <% @winners[:winning_user_stroke].each do |player| %>
              <%= player %>
            <% end %>
          </h4>
          <h4 class='text-center'>
            <%= "Round of #{@winners[:winning_round_stroke][0][0].score}"%>
          </h4>
          <img id="c3po" src="http://thefwoosh.com/wp-content/uploads/2015/08/Medicom-MAFEX-No-012-Star-Wars-C3PO-Promo.jpg">
        </div>

        <div class="col-md-4">
          <h3 class='text-center'>C3PO Loser:</h3>
          <h4 class='text-center'>
            <% @winners[:winning_user_three_putt].each do |player| %>
            <%= player %>
            <% end %>
          </h4>
            <h4 class='text-center'>
            <%= "#{@winners[:three_putt_total]} three putts"%>
          </h4>
          <img id="c3po" src="http://thefwoosh.com/wp-content/uploads/2015/08/Medicom-MAFEX-No-012-Star-Wars-C3PO-Promo.jpg">
        </div>

        <div class="col-md-4 bg-success">
          <h3>Stableford Winner:
            <% @winners[:winning_user_stableford].each do |player| %>
              <%= player %>
            <% end %>
            <%= " with score of #{@winners[:winning_round_stableford][0][0].stableford}"%>
          </h3>
          <% end %>
        </div>

    </div>
  </div>

<% else %>

  <div id="golf-img">
    <div class="container" id="sign-up-page">
      <div class="jumbotron text-center">
        <h1>Welcome to Golf Tracker</h1>
        <blockquote>
          <p>Golf is a game whose aim is to hit a very small ball into a even smaller hole, with weapons singularly ill-designed for the purpose.</p>
          <footer>Sir Winston Churchill</footer>
        </blockquote>
        <span><a class="btn btn-primary btn-lg" href="/users/sign_up">Sign up</a>
        <a class="btn btn-primary btn-lg" href="/users/sign_in" >Sign in</a></span>
      </div>
    </div>
  </div>

<% end %>
