<% if @user %>
  <%= "Welcome to golf tracker #{@user.name}" %>
  <a href="/round/new">Add a round</a>
  <a href="/users/<%= @user.id %>">Profile Page</a>
<% end %>

<% if flash[:holes] %>
  <%= flash[:holes] %>
<% end %>

<% if @winning_round_stroke %>
  <h1><%= "Results of #{@winning_round_stroke.course} on #{@winning_round_stroke.date.strftime("%d/%m/%Y")}" %></h1>
  <h3><%= "Stroke Play Winner: #{@winning_user_stroke.name} with score of #{@winning_round_stroke.score}" %></h3>
  <h3><%= "Stableford Winner: #{@winning_user_stableford.name} with score of #{@winning_round_stableford.score}" %></h3>
<% end %>
