<div class='container'>
  <% if @user %>
  <h3 class="text-center"><%= flash[:welcome] %></h3>
  <% end %>

  <% if flash[:holes] %>
  <%= flash[:holes] %>
  <% end %>
</div>
<% if @user %>
  <div class="container">
      <% if @winners %>
    <div class='jumbotron'>
      <h3 class="text-center"><%= "Results of #{@winners[:winning_round_stroke][0][0].course} on
              #{@winners[:winning_round_stroke][0][0].date.strftime("%d/%m/%Y")}" %></h3>
    </div>
      <div class='container'>
        <h3 class='text-center'>Competitors:
          <% @players.each do |player| %>
            <%= player %>
          <% end %>
        </h3>
      </div>

      <div class="row">
        <div class="col-md-4 bg-success">
          <h3>Stroke Play Winner:
            <% @winners[:winning_user_stroke].each do |player| %>
              <%= player %>
            <% end %>
            <%= " with score of #{@winners[:winning_round_stroke][0][0].score}"%>
          </h3>
        </div>
        <div class="col-md-4 bg-success">
          <h3>Stableford Winner:
            <% @winners[:winning_user_stableford].each do |player| %>
              <%= player %>
            <% end %>
            <%= " with score of #{@winners[:winning_round_stableford][0][0].stableford}"%>
          </h3>
        </div>
        <div class="col-md-4 bg-danger">
          <h3>C3PO Loser:
            <% @winners[:winning_user_three_putt].each do |player| %>
              <%= player %>
            <% end %>
            <%= " with #{@winners[:three_putt_total]} three putts"%>
          </h3>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div id="golf-img">
    <div class="container" id="sign-up-page">
      <div class="jumbotron text-center">
        <h1>Welcome to Golf Tracker</h1>
        <p>...</p>
        <span><a class="btn btn-primary btn-lg" href="/users/sign_up">Sign up</a>
        <a class="btn btn-primary btn-lg" href="/users/sign_in" >Sign in</a></span>
      </div>
    </div>
  </div>
<% end %>
