<% if @user %>
  <%= "Welcome to golf tracker #{@user.name}" %>
  <a href="/round/new">Add a round</a>
  <a href="/users/<%= @user.id %>">Profile Page</a>
<% end %>

<% if flash[:holes] %>
  <%= flash[:holes] %>
<% end %>

<% if @winners[:winning_round_stroke] %>
  <h1><%= "Results of #{@winners[:winning_round_stroke].course} on #{@winners[:winning_round_stroke].date.strftime("%d/%m/%Y")}" %></h1>
  <h3><%= "Stroke Play Winner: #{@winners[:winning_user_stroke].name} with score of #{@winners[:winning_round_stroke].score}" %></h3>
  <h3><%= "Stableford Winner: #{@winners[:winning_user_stableford].name} with score of #{@winners[:winning_round_stableford].stableford}" %></h3>
  <h3><%= "C3PO Loser: #{@winners[:winning_user_three_putt].name} with #{@winners[:three_putt_total]} three putts" %></h3>
<% end %>
