<div class="container">
  <div class="jumbotron text-center">
    <h2 class="text-center"><%= @user.name %> Profile Page</h2>
    <h4 class="text-center">Current Handicap: <%= @user.handicap %></h4>
  </div>
</div>


<div class='container'>
  <h3 class='text-center'>Playing History:</h3>
  <table class="table table-condensed">
    <tr class="info">
      <th class='text-center'>Date</th>
      <th class='text-center'>Course</th>
      <th class='text-center'>Handicap</th>
      <th class='text-center'>Strokes</th>
      <th class='text-center'>Stableford</th>
    </tr>
  <% @rounds.each do |round| %>
    <tr class="success">
      <td class='text-center'><%= round.date.strftime("%d/%m/%Y") %></td>
      <td class='text-center'><%= round.course %></td>
      <td class='text-center'><%= round.handicap %> </td>
      <td class='text-center'><%= round.score %></td>
      <td class='text-center'><%= round.stableford %></td>
    </tr>
  <% end %>
    </table>


</div>
