<div class="container">
  <h1 class="text-center"><%= @user.name %> Profile Page</h1>
  <h4 class="text-center">Current Handicap: <%= @user.handicap %></h4>

  <h4>Your rounds history:</h4>
  <% @rounds.each do |round| %>
    <p>Date: <%= round.date.strftime("%d/%m/%Y") %> - Course: <%= round.course %> -
       Score: <%= round.score %> - Handicap at the time: <%= round.handicap %> -
       Stableford Score: <%= round.stableford %>
    </p>
    <br>
  <% end %>
</div>
